body{
    margin: auto;
    box-sizing: border-box;
}
.banner{
    background-color: bisque;
    /* background-image: url("../images/dice1.jpg");
    background-repeat: no-repeat; */
    border-radius: 25px;
}
.btn1{
    background-color: grey;
    margin: 15px;
    border-radius: 25px;
}
.roller-console container{
    text-align: center;
    margin: 50px;
}
.btn2{
    margin: 90px;
    background-color: beige;
    border-radius: 25px;

}
.btn3{
    border-radius: 25px;
    background-color: lightgray;
}