body{
    margin: auto;
    box-sizing: border-box;
    background-image: url(../images/istockphoto.jpg)
}
.banner{
    background-color: bisque;
    /* background-image: url("../images/dice1.jpg");
    background-repeat: no-repeat; */
    border-radius: 25px;
    margin: 30px;
}
.btn{
    margin: 90px;
    background-color: beige;
    border-radius: 25px;
    text-align: center;

}
.btn1{
    border-radius: 25px;
    background-color: lightgray;
}
.btn2{
    background-color: grey;
    margin: 15px;
    border-radius: 25px;
}
/* .player-console container{
    text-align: center;
    margin: 50px;
    background-color: peachpuff; 
} */
.row{
    text-align: center;
    background-color: khaki;
    border-radius: 25px;
}

